body {
  margin: 0;
  background: #f4f4f4;
  font-family: sans-serif;
}

.bookshelf {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 2rem auto;
}

.shelf-bg {
  width: 100%;
  display: block;
  z-index: 1;
}

.carousel {
  position: absolute;
  top: 62%;
  left: 5%;
  width: 90%;
  overflow: hidden;
  height: 140px;
  z-index: 2
}

.carousel-track {
  display: flex;
  gap: 20px;
  animation: scroll 40s linear infinite;
}

.carousel-track img {
  height: 100px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.carousel-track img:hover {
  transform: scale(1.1);
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
